# API
private.*
tempToken.*

# App
settings.*
logs.*
NSO-RPC_Data/

# Python
venv/
__pycache__/

# Qt
*.autosave
arm64/
PyQt6_Qt6*.whl
universal/
x86_64/

# Compilation
build/
dist/
setup.py
*.spec
client/version.txt

# Tests
test*.*

# MacOS
.DS_Store
/.vs
